*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
//Variables


body{
    font-family:'roboto',sans-serif;
}

//wrapper 
.wrapper{
    width:calc(100% - 4rem);
    margin-left:2rem;
    margin-right:2rem;
    max-width:1150px;
    @media screen and (min-width:1024px){
        width:95%;
        margin-left:auto;
        margin-right:auto;
    }
}
//Header
.header{
    position:sticky;
    top:0;
    z-index:30;
    background-color:rgb(11, 96, 192);
    .wrapper{
        display:grid;
        grid-template-columns:20% 80%;
        grid-template-rows:1fr;
        padding:1.5rem 0;
        align-items:center;
        color:#fff;
        @media screen and (min-width:1024px){
            grid-template-columns: 40% 60%;
      
        }
    }
}
.name-company{
    justify-self:flex-start;
    text-align:center;
    font-size: 1.6rem;
    font-weight: 500;
}
.menu{
    padding-top:4.5rem;
    transform: translate(-100vw, 0);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    width:100%;
    font-weight:600;
    transition: transform .5s ease;
 ul{
     width:inherit;
     list-style-type:none;
 }
 li{
    padding-bottom:1.5rem;
    margin:1.5rem 2.5rem 0 2.5rem;
    border-bottom:1px solid gray;
    &:first-of-type{
    margin-top:0;
    }
 }
 a {
     text-decoration:none;
     font-size:1.6rem;
     color:#fff;
 }
  @media screen and (min-width:1024px){
      justify-self:flex-end;
      position:static;
      transform:translate(0,0);
      top:initial;
      bottom:initial;
      right:initial;
      left:initial;
      background-color:transparent;
      padding-top:0;
      font-weight:400;
      transition:initial;
      width:auto;
    ul{
        display:flex;
    }
    li{
        margin:0;
        padding-bottom:0;
        padding-right:1.5rem;
        border-bottom:none;
        &:last-of-type{
            padding-right:0;
        }
    }
    a{
        font-size:1.2rem;
    }
 }
 .close-menu{
    display: inline-block;
    color: #fff;
    font-weight: 600;
    position: absolute;
    top: 5%;
    right: 10%;
    z-index: 40;
    @media screen and (min-width:1024px){
        position:static;
        display:none;
    }
}
}

.show-menu{
    transform: translate(0, 0);
}

.menu-burguer{
    a{
        width:1.4rem;
        height:1.4rem;
        display:inline-block;
    }
    img{
        width:100%;
        height:100%;
    }
    @media screen and(min-width:1024px){
        display:none;
    }
}
//banner
.banner{
    background-image:url('../../img/banner.jpeg');
    background-size:cover;
    height:32rem;
    position:relative;
    z-index:10;
    &::after{
        content:'';
        display:block;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-color:rgba(0, 0, 0, 0.4);
        
    }
    @media screen and (min-width:1024px){
        background-position:50%;
        height:28rem;
    }
}
.number-phone{
    text-align: center;
    background-color:rgba(0, 0, 0, 0.4);
    padding-top:.8rem;
    padding-bottom:.8rem;
    position:absolute;
    top:0;
    z-index:20;
    width:100%;
    a{
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }
    @media screen and (min-width:1024px){
        right:10%;
        width:13rem;
    }
}
.welcome-clinic{
    position: absolute;
    right: 50%;
    transform: translate(50%,-50%);
    top: 50%;
    color: #fff;
    font-size: 2.3rem;
    text-align: center;
    width: 23rem;
    z-index:20;
    @media screen and (min-width:1024px){
        width:100%;
    }
}
//our purpose
.title-purpose{
    text-align:center;
    margin-bottom:3rem;
    font-size:2.5rem;
    color:rgb(11, 96, 192);
}
.our-purpose{
    margin-top:3rem;
    text-align:center;
}
.our-purpose{
    .grid{
        display:grid;
        grid-template-columns:1fr;
        row-gap:4.5rem;
    }
    .card{
        display:flex;
        flex-direction:column;
        row-gap:1.5rem;
        align-items:center;
            @media screen and (min-width:1024px){
            flex-direction:row;
            column-gap:2rem;
            align-items:initial;
            }
            &.second{
                img{
                    object-position: top;
                }
            @media screen and (min-width:1024px){
                flex-direction:row-reverse;
             }
            }
    }
    .img__card{
            flex:0 1 auto;
            height: 18rem;
            img{
                width:100%;
                height:100%;
                object-fit:cover;
            }
            @media screen and (min-width:1024px){
                flex:0 1 50%; 
            }
    }
    .info__card{
        flex: 0 1 50%;
        display:flex;
        flex-direction:column;
        p{
            margin-top:2rem;
            font-size:1.2rem;
            color:gray;
        }
    }
}
.text__card{ 
    margin:0;
    font-size:1.2rem;
    color:gray;
    flex: 1 1 100%;
    @media screen and (min-width:1024px){
        flex:1 1 50%; 
    }
}
//recognition
.recognition{
    margin-top:3rem;
    background-color:#efefef;
    .wrapper-recognition{
        width:95%;
        margin-left:auto;
        margin-right:auto;
        @media screen and (min-width:1024px){
            width:80%;
        }
    }
    .card{
        display:flex;
        flex-direction:column;
        @media screen and (min-width:1024px){
            flex-direction:row-reverse;
        }
    }
    .img__card{
        flex:0 1 auto;
        img{
            width:100%;
            height:100%;
            object-fit:cover;
        }
        @media screen and (min-width:1024px){
            flex:0 1 50%; 
        }
    }
    .info__card{
        padding:3rem 0;
        flex: 0 1 50%;
    }
}

.title-recognition{
    text-align:center;
    margin-bottom:3rem;
    font-size:2.5rem;
    color:rgb(11, 96, 192);
}
.btn-about-recognition{
    padding:1rem 2rem;
    color:#fff;
    background-color:rgb(11, 96, 192);
    text-decoration: none;
    display:inline-block;
    font-size:1.2rem;
}
.paragraph-recognition{
    font-size:1.2rem;
    h2{
        margin-bottom:1.5rem;
    }
    &.first{
        margin-bottom:3rem;
    }
    &.second{
        margin-bottom:2rem;
    }
    p{
        color:gray;
    }
}
//about-us
.about-us{
    margin-top:3rem;
    .grid{
    display:flex;
    flex-direction:column;
    @media screen and (min-width:1024px){
    flex-direction:row;
    column-gap:.1rem;
    }
    }
    .card{
        display:flex;
        flex-direction:column;
        position:relative;
        flex: 0 1 50%;
        .img__card{
            flex: 0 1 auto;
            height: 30rem;
            img{
                width:100%;
                height:100%;
                object-fit:cover;
            }
        }
        .paragraph-about-us{
            text-align:center;
            width:20rem;
            color:#fff;
            position:absolute;
            top:50%;
            right:50%;
            transform:translate(50%,-50%);
            z-index:20;
            h2{
                font-size:2.5rem;
            }
            p{
                font-size:1.5rem;
            }
        }
    &::after{
        content:'';
        display:block;
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        z-index:10;
        background-color:rgba(0, 0, 0, 0.4);
    }
    }
}

.title-about-us{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    color:rgb(11, 96, 192);
}

//home-delivery
.home-delivery{
    margin-top:3rem;
}

.banner-home-delivery{
    background-image: url('../../img/home-delivery.jpeg');
    //display: flex;
    //justify-content: center;
    //align-items: center;
    flex-direction: column;
    height: 15rem;
    background-position:50%;
    background-size: cover;
    position:relative;
    &::after{
        content:'';
        display:block;
        background-color:rgba(0, 0, 0, 0.4);
        z-index:10;
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
    }
}

.grid-banner-home-delivery{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 20;
    row-gap:1.5rem;
    @media screen and (min-width:1024px){
        flex-direction:row;
        row-gap:0;
        column-gap:1.5rem;
        
    }
}
.title-home-delivery{
    text-align:center;
    font-size:2.5rem;
    color:#fff;
}
.btn-home-delivery{
    padding:1rem 2rem;
    color:#fff;
    background-color:rgb(11, 96, 192);
    text-decoration: none;
    display:inline-block;
    font-size:1.2rem;
}


//Footer
.footer{
    background-color:rgb(11, 96, 192);
    color:#fff;
    .wrapper{
        padding-top:2.5rem;
        padding-bottom:2.5rem;
        text-align:center;
    }
}

.title-footer{
    color:#fff;
    margin-bottom:2rem;
}
.icons{
    display:grid;
    column-gap:1.5rem;
    grid-template-columns:repeat(2,35px);
    grid-template-rows:35px;
    justify-content:center;
    margin-bottom:8rem;
    .logo-facebook-footer,.logo-instagram-footer{
        text-decoration:none;
    }
    img{
        width:100%;
        height:100%;
    }
    @media screen and (min-width:1024px){
        column-gap:3rem;
    }
}
.grid-footer{
    display:flex;
    flex-direction:column;
    @media screen and (min-width:1024px){
        flex-direction:row;
        justify-content:space-between;
    }
}
.reserved{
    margin-bottom:2rem;
}